.menu{
	width: 76.5vw;
	margin: auto;
}
.menu h2{
	width: 76.5vw;
}
.menu .item{
	width: 21.5vw;
	height: 45vh; /*300px;*/
	margin: 0 2vw;
	margin-bottom: 8vh;
	box-shadow: 0 1.5px 4px darkgrey;
	float: left;
}
.menu .item img{
	width: 85%;
	/*height: 190px;*/
	display: flex;
	margin: 3vh auto;
	margin-bottom: 5px;
}
.menu .item h4{
	width: 85%;
	margin: auto;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 2vw;
	height: 30px;
}
.menu .item p{
	width: 85%;
	line-height: 12px;
	margin: auto;
	box-sizing: border-box;
	/*border: 1px solid;*/
	font-size: 0.9vw;
	height: 50px;
	color: grey;
	box-sizing: border-box;
	overflow: auto;
}

@media screen and (max-width:417px) {
	.menu{
		width: 100vw;
	}
	.menu .item{
	width: 49.5vw;
	height: 27vh;
	background-color: silver;
	margin: 0 0.25vw;
	margin-bottom: 2px;
	float: left;
	box-sizing: border-box;
	border: 1px solid;
	padding-bottom: 20px;
	}
	.menu .item img{
		margin: 15px auto;
		margin-bottom: 5px;
	}
	.menu .item h4{
		font-size: 3.5vw;
		margin-top: -8px;
	}
	.menu .item p{
		line-height: 9px;
		font-size: 2.7vw;
		height: 28px;
		overflow: auto;
		margin-top: -4px;
	}
}